
.search_page_title {
    font-size: 2.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}


.search_input {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    max-width: 100%; /* Allow full width */
    height: 100%;
    max-height: 80px;
}

.search_list {
    padding: 20px;
    width: 100%;
    max-width: 550px; /* Limit the width of the search results */
    color: #393f44;
    transition: 0.55s ease !important;
}

.search_item {
    margin: 5px;
    padding: 15px;
    display: flex;
}

.search_item:active {
    transition: 0.5s ease !important;
}

.search_item img {
    border-radius: 12px;
    margin: 3px;
    margin-right: 8px;
}

.search_username {
    font-weight: 600;
}

.search_displayName {
    color: rgb(128, 128, 128);
}

/* Additional styles for centering content when no results are found */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center; /* Center content horizontally */
}
