.notifications-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .notifications-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .notifications-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .notifications-container li {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .notifications-container li:last-child {
    border-bottom: none;
  }
  

  .notification-item{
    border-radius: 6px;
    border: 0.5px solid rgba(128, 128, 128, 0.332);
    margin: 3px;
    background-color: rgb(238, 233, 225);
  }